body{
    background-color: black;
}
h1{
   color: white;
    text-align: center;
    font-size: 70px;
}
.caja-1{
width: 150px;
max-width: 300px;
background-color: gray;
border-radius: 3px;
padding: 10px;
display: flex;
align-items: center;
margin-left: 50px;
}

.caja-2{
    width: 150px;
    max-width: 300px;
    background-color: gray;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 50px;
    }

.caja-3{
     width: 150%;
        max-width: 300px;
        background-color: gray;
        border-radius: 4px;
        padding: 10px;
        display: flex;
        align-items: center;
        margin-left: 50px;
        }

    